*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.webp);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 25px;
}
nav ul li a{
    color: #681c75;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #464545; 
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 20px;
}
.header-text h1{
    font-size: 70px;
    margin-top: 2%;
}
.header-text h1 span{
    color: #080808;
}
/* ----------about---------- */
#about{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap; 
}
.about-col-1{
    flex-basis: 45%;
}
.about-col-1 img{
    width: 50%;
}
.about-col-2{
    flex-basis: 55%;
}
.sub-title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #681c75;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%
}
.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
}
.tab-contents ul li span{
    color: #d57ee4;
    font-size: 22px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ------projects-----*/
#projects{
    padding: 30px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.projects-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.projects-list div:hover{
    background: #d57ee4;
    transform: translateY(-10px);
}
/* ------portfolio----- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;  
}
.work img{
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(237, 203, 241, 0.6), #704677);
    border-radius: 10px; 
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 17px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #dc11ee;
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
    background: #fff;
    width: 100px;
    height:40px;
    border-radius: 10%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #dc11ee;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #817e7e;
}

/* ------contact----- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#d57ee4;
    margin-right: 0px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    color: #d57ee4;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#d57ee4;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #d57ee4;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #464545;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #464545;
    font-weight: 200;
    margin-top: 20px;
}
/*----------css for small screen-----------*/
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 25px;
    }
}
#msg{
    color:#681c75;
    margin-top: 10px;
    display: block;
}
/*--------cs for small screens-----------*/
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 50px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
   
}